/* Reset */

*:not(ul):not(ol){
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif;
}

/* General */

.flex-property{
    display:flex;
    flex-wrap:wrap;
}

.perc25{
    width:25%;
}

.perc30{
    width:30%;
}

.perc40{
    width:40%;
}

.perc50{
    width:50%;
}

.perc60{
    width:60%;
}

.perc70{
    width:70%;
}

.row-reverse-property {
    flex-direction:row-reverse;
}

/* Header */

header {
    min-height:100px;
}

header > nav {
    width:70%;
    margin:auto;
    min-height:50px;
}

.logo, .navbar, .login-section {
    padding:10px 10px;
}

.navbar {
    text-align:center;
}

.login-section {
    text-align:right;
}

/* Main */
main > section {
    padding: 30px;
}

main > section > .frame60-50,
main > section > .frame80-60 {
    margin:auto;
}


main > section > div.flex-property {
    width:80%;
    margin:auto;
}

main > section:last-of-type{
    padding-top:10px;
    padding-bottom:30px;
}

/* Footer */

/* Debugging */

.debug.true > header {
    background-color: #ADD8E6;
}

.debug.true > header > nav {
    background-color: #DAA520;
    border: 2px dashed black;
}

.debug.true .logo, 
.debug.true .navbar, 
.debug.true .login-section {
    border: 5px dashed red;
}

.debug.true > main > section:first-child {
    background-color:#00008B;
}

.debug.true > main > section > .frame60-50 {
    background-color: #EE82EE;
    border:2px dashed black;
    width:60%;
    min-height:500px;
}

.debug.true > main > section > .frame80-60{
    background-color: #EE82EE;
    border:2px dashed black;
    width:80%;
    min-height:600px;
}

.debug.true > main > section > div.flex-property {
    border:1px dashed purple;
}

.debug.true > main > section > div.flex-property > .perc30{
    background-color: #F08080;
    border: 2px dashed black;
}

.debug.true > main > section > div.flex-property > .perc40{
    background-color: #FBBDC8;
    border: 2px dashed black;
    min-height:400px;
}

.debug.true > main > section > div.flex-property > .perc60{
    background-color: #1E90FF; 
    border: 2px dashed black;
}

.debug.true > main > section > div.flex-property > .perc70{
    background-color: #20B2AA;
    min-height:350px;
}

.debug.true > main > section > div.flex-property > .perc70.flex-property > .perc25{
    border: 2px dashed white;   
}

.debug.true > main > section:nth-of-type(2n+3) {
    background-color:gray;
}

.debug.true > main > section:last-of-type {
    background-color: #23272A;
}

.debug.true footer {
    background-color: #23272A;
}
